<app-searchbar [ngClass]="{'is-hidden':!modal}" (closeSearch)="hideSearch()"></app-searchbar>

<nav class="navbar is-light animated slideInDown">
    <div class="navbar-brand">

        <div class="navbar-burger burger"(click)="menu.open()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <app-logo></app-logo>
        
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">      
      </div>
  
      <div class="navbar-end">
          <div class="navbar-item">
              <a class="navbar-item" (click)="showSearch()">
                  <i class="fa fa-search"></i>
                </a>
                <app-cartbar></app-cartbar> 
          </div>

      </div>
    </div>
  </nav>